policy_module(amazon_ssm_agent, 1.0.0)

########################################
#
# Declarations
#

type amazon_ssm_agent_t;
type amazon_ssm_agent_exec_t;
init_daemon_domain(amazon_ssm_agent_t, amazon_ssm_agent_exec_t)

permissive amazon_ssm_agent_t;

########################################
#
# amazon_ssm_agent local policy
#
allow amazon_ssm_agent_t self:fifo_file rw_fifo_file_perms;
allow amazon_ssm_agent_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(amazon_ssm_agent_t)

files_read_etc_files(amazon_ssm_agent_t)

miscfiles_read_localization(amazon_ssm_agent_t)
